clouds:
  {{ cloud['name'] }}:
    auth:
      auth_url: {{ cloud['authurl'] }}
      project_name: {{ cloud['project'] }}
      username: {{ cloud['user'] }}
      password: {{ cloud['pass'] }}
      user_domain_name: Default
      project_domain_name: Default
      region_name: RegionOne
