--- installer/cmd/openshift-install/create.go	2019-04-18 13:08:32.531475695 -0400
+++ installer/cmd/openshift-install/create.go.orig	2019-04-18 13:08:21.509853500 -0400
@@ -276,7 +276,7 @@
 // and waits for the bootstrap configmap to report that bootstrapping has
 // completed.
 func waitForBootstrapConfigMap(ctx context.Context, client *kubernetes.Clientset) error {
-	timeout := 60 * time.Minute
+	timeout := 30 * time.Minute
 	logrus.Infof("Waiting up to %v for bootstrapping to complete...", timeout)
 
 	waitCtx, cancel := context.WithTimeout(ctx, timeout)
