--- installer/cmd/openshift-install/create.go	2019-04-19 05:08:01.583354559 -0400
+++ installer/cmd/openshift-install/create.go.orig	2019-04-19 05:07:48.994641019 -0400
@@ -238,7 +238,7 @@
 
 	discovery := client.Discovery()
 
-	apiTimeout := 30 * time.Minute
+	apiTimeout := 60 * time.Minute
 	logrus.Infof("Waiting up to %v for the Kubernetes API at %s...", apiTimeout, config.Host)
 	apiContext, cancel := context.WithTimeout(ctx, apiTimeout)
 	defer cancel()
