--- installer/data/data/openstack/service/main.tf.orig	2019-04-04 07:10:27.162773929 -0400
+++ installer/data/data/openstack/service/main.tf	2019-04-04 07:11:00.946661776 -0400
@@ -18,7 +18,7 @@
 [Service]
 ExecStartPre=/sbin/setenforce 0
 ExecStartPre=/bin/systemctl disable --now bootkube kubelet progress openshift
-ExecStart=/bin/podman run --name haproxy --rm -ti --net=host -v /etc/haproxy:/usr/local/etc/haproxy:ro docker.io/library/haproxy:1.7
+ExecStart=/bin/podman run --rm -ti --net=host -v /etc/haproxy:/usr/local/etc/haproxy:ro docker.io/library/haproxy:1.7
 ExecStop=/bin/podman stop -t 10 haproxy
 Restart=always
 RestartSec=10
